<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<variables>
		<variable name="appName" value="PagareElectronico.Api" />
		<variable name="logDir" value="C:/logs/${var:appName}" />
		<variable name="layoutGeneral" value="${longdate}|${uppercase:${level}}|${logger}|${message}" />
		<variable name="layoutError" value="${longdate}|${uppercase:${level}}|${logger}|TraceId=${aspnet-traceidentifier}|${message}${onexception:inner= | EX=${exception:format=tostring}}" />
	</variables>

	<targets async="true">
		<target xsi:type="File"
				name="archivoAplicacion"
				fileName="${var:logDir}/${var:appName}-${shortdate}.log"
				layout="${var:layoutGeneral}"
				createDirs="true"
				encoding="utf-8" />

		<target xsi:type="File"
				name="archivoErrores"
				fileName="${var:logDir}/errores-detallados-${shortdate}.log"
				layout="${var:layoutError}"
				createDirs="true"
				encoding="utf-8" />
	</targets>

	<rules>
		<logger name="PagareElectronico.*" minLevel="Info" maxLevel="Warn" writeTo="archivoAplicacion" />
		<logger name="PagareElectronico.*" minLevel="Trace" maxLevel="Warn" writeTo="archivoAplicacion" />
		<logger name="PagareElectronico.*" minLevel="Error" writeTo="archivoAplicacion,archivoErrores" final="true" />
		<logger name="*" minLevel="Error" writeTo="archivoErrores" />
	</rules>
</nlog>