<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <variable name="Layout"
              value="${longdate}|${level:uppercase=true}|${logger}|${message}"/>

    <targets>
        <target xsi:type="WebService"
                name="ws"
                url="TAK_BITACORA_SERVIDOR"
                protocol="JsonPost"
                encoding="UTF-8" >
            <parameter name="idSesion" type="System.String" layout="${event-properties:item=idSesion}" />
            <parameter name="codigoUsuario" type="System.String" layout="${event-properties:item=codigoUsuario}" />
            <parameter name="codigoAgencia" type="System.String" layout="${event-properties:item=codigoAgencia}" />
            <parameter name="indicadorCanal" type="System.String" layout="${event-properties:item=indicadorCanal}" />
            <parameter name="indicadorSubCanal" type="System.Int" layout="${event-properties:item=indicadorSubCanal}" />
            <parameter name="idTerminalCliente" type="System.String" layout="${event-properties:item=idTerminalCliente}" />
            <parameter name="idTerminalServicio" type="System.String" layout="${machinename}" />
            <parameter name="fechaEvento" type="System.String" layout="${event-properties:item=fechaEvento}" />
            <parameter name="nivelEvento" type="System.String" layout="${level}" />
            <parameter name="idIdentidad" type="System.String" layout="${identity}" />
            <parameter name="idIdentidadWindows" type="System.String" layout="${windows-identity}" />
            <parameter name="idServicio" type="System.String" layout="${event-properties:item=idServicio}" />
            <parameter name="contenidoEvento" type="System.String" layout="${message}" />
            <parameter name="datos" type="System.String" layout="${all-event-properties:jsonEncode=true}" />
        </target>

        <target name="file" xsi:type="File"
                fileName="C:\logs\TakanaTransferenciasCCEApi\Takana.Transferencias.CCE.Api.${date:format:dd-MM-yyyy}.${machinename}.log" />

        <target xsi:type="ColoredConsole"
                name="consolaDebug"
                encoding="utf-8"
                layout="${date:format=HH\:mm\:ss.fff}|${level}|${threadid}|${callsite:className=true:fileName=false:includeSourcePath=false:methodName=true:cleanNamesOfAnonymousDelegates=false:skipFrames=0}|${message}|${event-properties:item=datos} ${exception:format=tostring}"
                useDefaultRowHighlightingRules="true"
                errorStream="false">
        </target>
    </targets>

    <rules>
        <logger name="Takana.Transferencias.CCE.Api.*" minlevel="Trace" writeTo="consolaDebug" enabled="true" />
        <logger name="Takana.Transferencias.CCE.Api.*" minlevel="Trace" writeTo="ws" enabled="true" />
        <logger name="Takana.Transferencias.CCE.Api.*" minlevel="Trace" writeTo="file" enabled="true" />
    </rules>
</nlog>
