<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<targets>
		
		<target name="AutorizadorCanales" xsi:type="File" fileName="C:\logs\AutorizadorCanales.${date:format:dd-MM-yyyy}.${machinename}.log"
			  layout="${date:format=HH\:mm\:ss.fff}|${level}|${threadid}|${event-properties:item=identity}|${event-properties:item=windowsIdentity}|${callsite:className=true:fileName=false:includeSourcePath=false:methodName=true:cleanNamesOfAnonymousDelegates=false:skipFrames=0}|${event-properties:item=remoteAddress}|${message}${exception:format=tostring}" />
		
		<target xsi:type="WebService"
				  name="ws"
				  url="#{BitacoraServidor}#"
				  protocol="JsonPost"
				  encoding="UTF-8" >
			<parameter name="idSesion" type="System.String" layout="${event-properties:item=idSesion}" />
			<parameter name="codigoUsuario" type="System.String" layout="${event-properties:item=codigoUsuario}" />
			<parameter name="codigoAgencia" type="System.String" layout="${event-properties:item=codigoAgencia}" />
			<parameter name="indicadorCanal" type="System.String" layout="${event-properties:item=indicadorCanal}" />
			<parameter name="indicadorSubCanal" type="System.Int" layout="${event-properties:item=indicadorSubCanal}" />
			<parameter name="idTerminalCliente" type="System.String" layout="${event-properties:item=idTerminalCliente}" />
			<parameter name="idTerminalServicio" type="System.String" layout="${machinename}" />
			<parameter name="fechaEvento" type="System.String" layout="${event-properties:item=fechaEvento}" />
			<parameter name="nivelEvento" type="System.String" layout="${level}" />
			<parameter name="idIdentidad" type="System.String" layout="${event-properties:item=identity}" />
			<parameter name="idIdentidadWindows" type="System.String" layout="${event-properties:item=windowsIdentity}" />
			<parameter name="idServicio" type="System.String" layout="${event-properties:item=idServicio}" />
			<parameter name="contenidoEvento" type="System.String" layout="${message}" />
		</target>
		
	</targets>

	<rules>
		<logger name="AutorizadorCanales.*" minlevel="Info" writeTo="AutorizadorCanales" enabled="#{BitacoraFileActiva}#" />
		<logger name="AutorizadorCanales.*" minlevel="Trace" writeTo="ws" enabled="#{BitacoraWsActiva}#" />
	</rules>
</nlog>
